/* General card styles */
.card {
    width: 18rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

/* Card image styling */
.card-image {
    height: 10rem;
    border-radius: 1rem;
    background-color: #000;
}

/* Card title styling */
.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}


.card-area {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}

/* Card progress bar container styling */
.card-progress-bar {
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #000;
    margin: 1rem;
}

/* Card progress bar styling */
.card-progress {
    height: 100%;
    border-radius: 0.5rem;
    background-color: #00ff00;
}
